
    p {
     color: rgb(172, 0, 0);
     font-size: 20px;
    }

    .test1 {
        color: rgb(0, 172, 100);
        font-size: 15px;
    }

    .important {
        color: green;
        font-style: italic;
    }

    #header {
        font-family: Georgia, serif;
        color: #00c849;
        text-align: center;
        font-size: 30px;
    }



body {
    line-height: 1.55;
    font-family: Helvetica, Arial;
    font-style: bold;
}

#boxtest {
    display: inline-block;
    background-color: #c64500;
    width: 20vw;
    height: 70px;
    margin-left: 40vw;
    margin-top: 100px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
